body {
	margin: 0px;
	padding: 0px;
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../images/background.jpg);
	background-size: cover;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.topbar h1 {
	position: absolute;
	text-transform: uppercase;
	margin-left: 15px;
	margin-top: 9px;
	font-family: 'Grenze', serif;
	color: #ffffff;
}

.topbar nav ul li {
	float: left;
	margin-left: 10px;
	list-style-type: none;
/*	display: inline-block;*/
}

.topbar nav ul li a:hover {
     border-bottom: 2px solid white;
}

.topbar nav ul {
	position: absolute;
	top: -1px;
	/*left: 550px;*/
	left: 850px;
}

nav {
	height: 50px;
	background-color: rgba(255,255,252,0.3);
	border-bottom: 1px solid grey;
}

.topbar nav ul li a {
	text-decoration: none;
	color: white;
	padding: 7px;
	transition: .2s ease-in;
}

#container {
	position: absolute;
	align-content: center;
	text-align: center;
	top: 145px; 
	/*left: 330px;*/
	left: 430px;
	height: 289px;
	border: 2px dashed white;
	border-radius: 20px;
	background-color: rgba(255,255,252,0.3);
}

#container h2 {
	border-bottom: 2px solid white;
}

#container pre {
	text-align: center;
	margin-bottom: 40px;
}

#container a {
	border: 1px solid white;
	border-radius: 40px;
	padding: 8px;
	text-decoration: none;
	color: yellow;
}

#container a:hover {
	background-color: #ffffff;
	color: grey;
}

footer {
    position: absolute;
    width: 1365px;
    top: 562px;
	background-color: rgba(255,255,252,0.3);
	border-top: 1px solid white;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	footer {
		width: 1023px;
		top: 563;
	}

	.topbar nav ul li{
		left: 750px;
	}
}

@media only screen and (width: 768px) {
	body {
		background-color: red;

	}
}

@media only screen and (width: 600px) {
	body {
		background-color: red;
		background-image: none;
	}
}

